modules = ["nodejs-20", "web", "bash"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44553232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"

[[ports]]
localPort = 8080
externalPort = 80
